<%- include('./header.ejs') %>

    <!--begin::App Main-->
    <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">Admin Profile</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                        </ol>
                    </div>
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row g-4 justify-content-center">
                    <!--begin::Col-->
                    <div class="col-md-6">
                        <!--begin::Quick Example-->
                        <div class="card card-primary card-outline mb-4">
                            <!--begin::Form-->
                            <form method="post" action="/insertAdminData" enctype="multipart/form-data">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex flex-column align-items-center text-center">
                                                        <img src="<%= adminData.avtar %>"
                                                            alt="Admin" class="rounded-circle p-1 bg-warning"
                                                            width="110">
                                                        <div class="mt-3">
                                                            <h4><%= adminData.name %></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div id="profileDetails" class="card">
                                                <div class="card-body">
                                                    <div class="profile-info">
                                                        <h3>Profile Information
                                                            <a href="/updateAdmin/?adminId=<%= adminData._id %>" class="float-end fs-5">
                                                                <i class="bi bi-pencil-square"></i>
                                                            </a>
                                                        </h3>
                                                        <p><strong>Name:</strong> <%= adminData.name %></p>
                                                        <p><strong>Email Address:</strong> <%= adminData.email %></p>
                                                        <p><strong>Gender:</strong> <%= adminData.gender %></p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Quick Example-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::App Content-->
    </main>
    <!--end::App Main-->

    <%- include('./footer.ejs') %>